// mobile first
// ==================================
// config(初期設定や変数)
// ==================================
//560px ~ 960pxまで
@mixin tb($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
//0 ~ 560pxまで
  @mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}

// マップ型変数
$breakpoints: (
  'sm': 'screen and (max-width: 560px)',
  'md': 'screen and (max-width: 960px)',
) !default;

//メディアクエリーの読み込み方法
// 0 ~ 960pxのスタイル
// @include tb() {
//   display: block;
// }

// ==================================
// base(全体で共通のスタイル)
// ==================================
html {

}
body {
  font-family: 'Montserrat',sans-serif ;
  letter-spacing: 2px;
}
*,*::before,*::after {
  box-sizing: border-box;
}
#wrapper {

}
//top-image の背景画像
.none {
  display: none;
}
.clearfix::after {
   content: '';
   display: block;
   clear: both;
 }
.contents {
    position: relative;
    width: 100%;
    // height: 100vh;
    height: 50vh;
}

// ==================================
// parts(ボタン・h2:見出し,h3:小見出し
// などの何回も使う部品)
// ==================================
.heading {
  position: relative;
  display: inline-block;
  font-size: 3rem;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  &::after {
   @extend ::before;
    bottom: -5px;
  }
}

// ==================================
// top(header)
// ==================================

// ==================================
// concept
// ==================================

// ==================================
// news
// ==================================

// ==================================
// hairstyle
// ==================================

// ==================================
// pricelist
// ==================================

// ==================================
// shopinfo
// ==================================

// ==================================
// footer
// ==================================
