// ==================================
// config(初期設定や変数)
// ==================================

//※mobile first
// スタイルシートの書き方
// 上からに下記の順番でスタイルを当てていく
// 全デバイス共通 + スマートフォン(0 ~ 560px) → タブレット (560px ~ 960px) → PC (960px ~)

//560px ~ 960pxまで
  @mixin tb($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}
//960px ~ 
@mixin pc($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// マップ型変数
$breakpoints: (
  'sm': 'screen and (min-width: 560px)', // 560px ~ 960px
  'md': 'screen and (min-width: 960px)', // 960px ~ 
) !default;

//メディアクエリーの読み込み例
// // 0 ~ 560px 
// p {
//   color: red;
// // 560px ~ 960px
// @include tb() {
//   color: blue;
// }
// // 960px ~
// @include pc() {
//   color: green;
// }
// }

// ==================================
// base(全体で共通のスタイル)
// ==================================
html {

}
body {
  font-family: 'Montserrat',sans-serif ;
  letter-spacing: 2px;
}
*,*::before,*::after {
  box-sizing: border-box;
}
#wrapper {

}
//top-image の背景画像
.none {
  display: none;
}
.clearfix::after {
   content: '';
   display: block;
   clear: both;
 }

// ==================================
// parts(ボタン・h2:見出し,h3:小見出し
// などの何回も使う部品)
// ==================================
.heading {
  margin: 0 0 2em;
  position: relative;
  display: inline-block;
  font-size: 1.6rem;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  &::after {
   @extend ::before;
    bottom: -5px;
  }
}
.btn {
  margin: 2em 0 0;
  text-align: center;
  .more {
    display: inline-block;
    text-decoration: none;
    color: black;
    &:hover {
      opacity: 0.7;
    }
  }
}
// ==================================
// header
// ==================================
.header {
  position: fixed;
  width: 100%;
  height: 5r8px;
  padding: 10px;
  background: #000;
  //navgation_menu用
  // display: table;
}
.site-title {
  float: left; //hamberger-menuとfloat
  width: 20%; //sticky header → 80%
  padding-left: 1em;
  & a {
    text-decoration: none;
    color: #fff;
    width: 50%;
    font-size: 1.6em;
    line-height: 1.6em;
    &:hover {
      opacity: 0.5;
    }
  }
}
//hamberger-menu 位置
.hamberger-menu {
  float: right; //site-logoとfloat
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 10; //z-index 順番:1位
  @include pc() {
    display: none; //PC 非表示
  }
  //三本レイアウト
  span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 2px;
    }
    &:nth-of-type(2) {
      top: 15px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  //✖(バッテンレイアウト)
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
    }
  }
}
.nav {
  float: right;
  position: absolute; 
  top: 0;
  right: -100%; //hambergermenuをクリックするまで、画面外(右)へ隠しておく
  // right: 0%;
  background: rgba(0, 0, 0, .85);
  width: 100%;
  height: 100vh;
  transition: .5s;
  //navgation_menu用
  display: table;
    //ドロワーメニュー 全体cover
    &.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; //z-index指定 順番:2位
    }
    @include pc() {
      position: initial;
      height: auto;
      padding: 0;
      width: 80%; //site-title → 20%
      background-color: initial;
    }
}
.nav-list {
  display: table-cell; //.navにdisplay:table;
  vertical-align: middle; //縦中央寄せ
  @include pc () {

  }
}
.nav-item {
  text-align: center; 
  padding: 20px;
  @include pc () {//数が多いとcolumn落ちするので気を付ける！！
    display: inline-block;
    padding:15px 10px 5px;
    width: 15%;
  }
  & a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    // width: 100%;
    // border-bottom: 1px solid #fff;
    font-size: 1.0em;
    @include pc() {
      width: 100%;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
// ==================================
// hero
// ==================================
.hero {
  background-image: url('../../src/img/sunset.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
// ==================================
// concept
// ==================================
.concept {
  margin: 2em 0 0;
  padding: 0 2em;
  &-title {
    float: left;
  }
  &-img {
    width: 40%;
    float: left;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &-intro {
    width: 50%;
    float: right;
  }
}
// ==================================
// news
// ==================================
.news {
  margin: 5em 0 0;
  padding: 0 2em;
  &-title {
    float: right;
  }
  &-contents {
    text-align: center;
    .content {
      display: block;
      line-height: 2em;
      &-date {
        margin: 0 1em 0 0;
      }
    }
  }
}
// ==================================
// hairstyle
// ==================================
.hairstyle {
  margin: 5em 0 0;
  padding: 0 2em;
  &-title {
    float: left;
  }
  .imgs {
    &-left {
      width: 49%;
      float: left;
    }
    &-right {
      width: 49%;
      float: right;
    }
  }
  .img {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
// ==================================
// pricelist
// ==================================
.pricelist {
  margin: 5em 0 0;
  padding: 0 2em;
  &-title {
    float: right;
  }
  &-img {
    width: 40%;
    float: left;
    img {
      width: 100%;
      height: auto;
    }
  }
  .menu {
    float: right;
    text-align: center;
    p {
      line-height: 1.5em;
      span {
        margin: 0 0 0 1em;
        text-align: right;
      }
    }
  }
}
// ==================================
// shopinfo
// ==================================
.shopinfo {
  margin: 5em 0 0;
  padding: 0 2em;
  &-title {
    float: left;
  }
  .wrapper {
    .info {
      .map {
        color: white;
        height: 10em;
        background-color: black;
      }
      h3 {
        margin: 1em 0;
        font-size: 1.4em;
      }
      .intro {
        .title {
          margin: 0 1em 0 0;
        }
      }
    }
  }
}
// ==================================
// reserve-btn
// ==================================
.reserve-btn {
  position: fixed;
  bottom: 7em;
  right: 1em;
  a {
    padding: .5em;
    text-align: center;
    display: block;
    color: white;
    background-color: black;
    text-decoration: none;
    opacity: .5;
    &:hover {
      opacity: .7;
    }
    span {
      display: block;
    }
  }
}
// ==================================
// footer
// ==================================
.footer {
  text-align: center;
}