// ==================================
// config(初期設定や変数)
// ==================================

//※mobile first
// スタイルシートの書き方
// 上からに下記の順番でスタイルを当てていく
// 全デバイス共通 + スマートフォン(0 ~ 560px) → タブレット (560px ~ 960px) → PC (960px ~)

//560px ~ 960pxまで
  @mixin tb($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
  }
}
//960px ~ 
@mixin pc($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// マップ型変数
$breakpoints: (
  'sm': 'screen and (min-width: 560px)', // 560px ~ 960px
  'md': 'screen and (min-width: 960px)', // 960px ~ 
) !default;

//メディアクエリーの読み込み例
// // 0 ~ 560px 
// p {
//   color: red;
// // 560px ~ 960px
// @include tb() {
//   color: blue;
// }
// // 960px ~
// @include pc() {
//   color: green;
// }
// }

// ==================================
// base(全体で共通のスタイル)
// ==================================
html {

}
body {
  font-family: 'Montserrat',sans-serif ;
  letter-spacing: 2px;
}
*,*::before,*::after {
  box-sizing: border-box;
}
#wrapper {

}
//top-image の背景画像
.none {
  display: none;
}
.clearfix::after {
   content: '';
   display: block;
   clear: both;
 }

// ==================================
// parts(ボタン・h2:見出し,h3:小見出し
// などの何回も使う部品)
// ==================================
.heading {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  &::after {
   @extend ::before;
    bottom: -5px;
  }
}

// ==================================
// header
// ==================================
.header {
  position: fixed;
}
.nav-list {

}
.nav-item {
  display: inline-block;
}
// ==================================
// hero
// ==================================
.hero {
  background-image: url('../../src/img/sunset.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
// ==================================
// concept
// ==================================

// ==================================
// news
// ==================================

// ==================================
// hairstyle
// ==================================

// ==================================
// pricelist
// ==================================

// ==================================
// shopinfo
// ==================================

// ==================================
// footer
// ==================================
